# Servidor
PORT=3000
NODE_ENV=development

# Seguridad
SESSION_SECRET=cambia_este_valor_en_desarrollo
SECRET_KEY=cambia_este_valor_jwt

# PostgreSQL Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=proy_ssweb
POSTGRES_PORT=55434

# Prisma / Base de datos
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:55434/proy_ssweb?schema=public
